@media (min-width: 576px){
   
}
@media (max-width: 576px){
   body{
        display: grid;
        grid-template-areas: 
        "header "
        "article "
        "nav"
        "ads "                 
        "footer";    
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
    } 
    #mainArticle { 
        display: grid;
        grid-template-areas: 
        "header"
        "article"
        "footer";                 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        } 
}
@media (min-width: 768px){

}
@media (max-width: 768px){
    body{
        display: grid;
        grid-template-areas: 
        "header "
        "article"
        "nav "
        "ads "                 
        "footer ";    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }  
}
@media(min-width: 992px){
    
}
@media(max-width: 992px){
   body{
    display: grid;
    grid-template-areas: 
    "header header "
    "article nav "
    "ads ads"                 
    "footer footer";    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

} 

}
@media (min-width: 1200px){

}